<h1><%=@article.title %></h1>
<div>
  <%=@article.content %>
</div>

<div>
  <%=link_to "Edit", article_path, method: "patch" %>
  <%=link_to "Delete", @article, method: "delete" %>
  <%= link_to "Back", :back %>
</div>