<nav class="nav bg-dark padding">
  <li class="nav-item">
    <%=link_to "Home", root_path, class:"nav-link" %>
  </li>
  <li class="nav-item">
    <%=link_to "Categories", categories_path, class:"nav-link" %>
  </li>
  <li class="nav-item">
    <%=link_to "Articles", articles_path, class:"nav-link" %>
  </li>

  <%if user_signed_in?%>
    <li class="nav-item">
      <%=link_to "New", new_article_path, class:"nav-link" %>
    </li>
    <li class="nav-item">
      <span class="nav-link"> welcome, <%= current_user.email %>! </span>
    </li>
    <li class="nav-item">
      <%=link_to "Profile", profile_path, class:"nav-link" %>
    </li>
    <li class="nav-item">
      <%=link_to "Logout", destroy_user_session_path, method: :delete, class:"nav-link" %>
    </li>
  <% else %>
    <li class="nav-item">
      <%=link_to "Login", new_user_session_path, class:"nav-link" %>
    </li>
    <li class="nav-item">
      <%=link_to "Sign Up", new_user_registration_path, class:"nav-link" %>
    </li>
  <%end%>
</nav>