<div class="small-container center-block">
  <p>
    <strong>Title:</strong>
    <span class="badge badge-pill text-white padding"
          style="background-color:<%= @category.color %>">
      <%= @category.title %>
    </span>
  </p>
  <p>
    <strong>Color:</strong>
    <%= @category.color %>
  </p>

  <%= link_to 'Edit', edit_category_path(@category) %> |
  <%= link_to 'Back', categories_path %>

  <p>
    <strong>Articles:</strong>
  </p>
  <%= render @category.articles %>
</div>